.job {
  @include container;
  transition: all 0.2s;

  &__image {
    position: absolute;
    width: 20rem;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__company {
    font-size: 4rem;

    &-link {
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-dark-grey;
      }

      &:hover,
      &:active {
        color: $color-primary-dark;
      }
    }
  }

  &__title {
    font-size: 2.2rem;
  }

  &__location,
  &__dates {
    font-size: 1.5rem;
  }

  &__responsibilities {
    padding: 2rem;
    // list-style: none;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 2rem rgba($color: black, $alpha: 0.3);
  }
}
