.skill-box {
  display: block;
  box-shadow: 0 1rem 5rem rgba($color: black, $alpha: 0.2);
  border-radius: 1rem;
  background-image: radial-gradient(
    at top left,
    rgba($color-secondary-light, 0.7),
    rgba($color-secondary-dark, 0.5)
  );
  height: 100%;
  transition: all 0.2s;

  &__heading {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
  }

  &__content {
    list-style: none;
    display: block;
  }

  &__item {
    text-align: center;
  }

  &__name {
    vertical-align: 1rem;
  }

  &__icon {
    width: 3rem;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 3rem 5rem rgba($color: black, $alpha: 0.2);
  }
}

.skill-box-container {
  height: 26rem;
}
